<div>
    <app-header-menu-flag [menu_category]="this._category_name"></app-header-menu-flag>
</div>
<form [formGroup]="detail_produts">
    <div class="row box-display-content m-0 d-flex p-4" *ngFor="let rs of this.product_detail; index as i">
        <div class="box-detail-product-left mb-5">
            <div class="card-box-detail">
                <div class="box-img-detail text-center">
                    <img src="{{rs.global_image}}" class="img-content-detail ">
                </div>
            </div>
        </div>
        <div class="box-detail-product-right ">
            <div class="box-text-detail-product mb-1">
                <p class="text-title-detail-product m-0">สินค้า</p>
                <p class="text-inline-detail-product">{{rs.product_name}}</p>
            </div>
            <div class="box-text-detail-product mb-1">
                <p class="text-title-detail-product m-0">ยี่ห้อ</p>
                <p class="text-inline-detail-product">{{rs.product_for_company}}</p>
            </div>
            <div class="box-text-detail-product mb-1">
                <p class="text-title-detail-product m-0">รายละเอียด</p>
                <p class="text-inline-detail-product">{{rs.product_detail}}</p>
            </div>
            <div class="box-text-detail-product mb-1">
                <p class="text-title-detail-product m-0">ราคา</p>
                <p class="text-inline-detail-product text-danger">{{formatNumber(rs.product_price)}} ฿</p>
            </div>
            <div class="box-text-detail-product mb-1">
                <p class="text-title-detail-product m-0">จำนวน</p>
                <div class="box-group-add-remove">
                    <div class="input-group ">
                        <div class="input-group-btn ">
                            <button class="btn btn-add-remove" (click)="removeqty()"><span class=""></span>-</button>
                        </div>
                        <input type="number" id="myNumber" class="form-control input-number bd-solid-btn"
                            formControlName="qty" min="1" required/>
                        <div class="input-group-btn">
                            <button class="btn btn-add-remove" (click)="plusqty(rs.product_qty)"><span
                                    class="">+</span></button>
                        </div>
                        <label class="ms-2 mt-2">จำนวนคงเหลือ {{(rs.product_qty)}}</label>
                    </div>

                </div>
                
                    <p *ngIf="detail_produts.controls['qty'].errors ">
                        <small class="text-danger">กรุณาเลือกจำนวน</small>
                    </p>
            </div>
            <div class="box-text-detail-product mb-4">
                <p class="text-title-detail-product m-0">ลักษณะ</p>
                <!-- {{i}} -->
                <div class="w-50 d-flex">
                    <div class="w-120px pt-2 me-2" *ngFor="let type of this.product_detail[i].product_type;">
                        <input type="radio" class="btn-check" id="{{type}}" formControlName="type" value="{{type}}">
                        <label class="btn btn-light b-boder w-120px" for="{{type}}"> {{(type)}}</label>
                    </div>
                    <!-- <span *ngIf="
                    detail_produts.controls['type'].invalid &&
                    detail_produts.controls['type'].touched"> -->

                    <!-- </span> -->
                    <!-- <button class="btn btn-light b-boder w-120px" >
                   
                </button> -->
                </div>
                <span *ngIf="this.status_valid_details == true">
                    <p *ngIf="detail_produts.controls['type'].errors ">
                        <small class="text-danger">กรุณาเลือกลักษณะ</small>
                    </p>
                </span>
            </div>
            <hr class="mb-4">
            <div class="box-button-add">
                <button class="button-add-cart me-2 mt-1"
                    (click)="addCart(rs.product_name,rs.product_for_company,rs.product_detail,rs.product_price,rs._id,rs.global_image)">Add
                    cart </button>
                <button class="button-buy-product me-2 mt-1">Buy</button>
            </div>
        </div>
    </div>
</form>

<!-- box shop  -->
<div class="row box-review-product-wrapper-content  m-0 d-flex mt-3">
    <div class="box-wrapper-review-header" *ngFor="let rs of this.shop_Array ; index as i">
        <!-- <h3>Shop</h3> -->
        <div class="row">
            <div class="box-shop-left-wrapper">
                <div class="box-shop-left-wrapper-img">
                    <img src="https://cdn-icons-png.flaticon.com/512/2438/2438159.png"
                        style="width:120px ; height: 80px;">
                </div>
                <div class="box-shop-left-wrapper-text">
                    <div class="box-text-detail-product mb-1">
                        <p class="text-title-detail-product m-0 pt-3">ชื่อร้านค้า</p>
                        <p class="text-inline-detail-product">{{rs.shop_name}}</p>
                        <!-- <sp class="text-inline-detail-product">{{rs.shop_email}}</sp> -->
                    </div>
                </div>
            </div>
            <!-- <img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/3718/3718330.png"> -->
            <div class="box-shop-left-wrapper">
                <div class="box-shop-left-wrapper-text">
                    <div class="box-text-detail-product mb-1">
                        <p class="text-title-detail-product m-0 pt-3">คะแนน</p>
                        <p class="text-inline-detail-product">{{rs.shop_score}}</p>
                        <!-- <sp class="text-inline-detail-product">{{rs.shop_email}}</sp> -->
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-4">
    </div>
</div>


<!-- box comment  -->
<div class="row box-review-product-wrapper-content  m-0 d-flex mt-3">
    <div class="box-wrapper-review-header">
        <h3>Review</h3>
        <hr class="mb-4">
    </div>
</div>