<!-- <div class="row  d-flex text-center m-0"> -->

<div class=" box-header text-start ">
    <div class="d-flex justify-content-between">
        <a class="">
            Home 
        </a>
        |
        <a class="">
            About
        </a>
        |
        <a class="">
            Contact
        </a>
        |
        <a class="">
            Login
        </a>
        |
        <a class="">
            Register
        </a>
        |
        <a class="">
            Sellproduct
        </a>
    </div>
</div>
<!-- </div> -->

<!-- <div class="row m-0 p-t-25">
    <div class="box-category d-flex justify-content-around">
        <div class="card-custom">
            <img src="./assets/img/assembling.png" class="card-img-top card-size-img " alt="...">
            <span>อุปกรณ์</span>
        </div>
        <div class="card-custom">
            <img src="./assets/img/assembling.png" class="card-img-top card-size-img " alt="...">
            <span>อุปกรณ์</span>
        </div>
        <div class="card-custom">
            <img src="./assets/img/assembling.png" class="card-img-top card-size-img " alt="...">
            <span>อุปกรณ์</span>
        </div>
    </div>

</div> -->