<!-- <div class="row  d-flex text-center m-0"> -->

<div class=" box-header text-start ">
    <div class="d-flex ">
        <a href="#" class="me-lg-4 me-md-2 a-link-custom" routerLink="/products">All products</a>
        <a href="#" class="me-lg-4 me-md-2 a-link-custom">Contact</a>
        <a href="#" class="me-lg-4 me-md-2 a-link-custom">Apply Partner</a>
        <a href="#" class="me-lg-4 me-md-2 a-link-custom" *ngIf="this.is_Token" routerLink="/web/purchasing">Purchasing</a>
        <a href="#" class="me-lg-4 me-md-2 a-link-custom" *ngIf="this.role == 'Partner'">Partner Menu</a>
        <a href="#" class="me-lg-4 me-md-2 a-link-custom" *ngIf="!this.is_Token">Register</a>
        <a href="#" class="me-lg-4 me-md-2 a-link-custom" *ngIf="!this.is_Token">Login</a>
        <!-- <a class="">
            Home 
        </a>
        <span>
            |
        </span>
        <a class="">
            About
        </a>
        <span>
            |
        </span>
        <a class="">
            Contact
        </a>
        <span >
            |
        </span>
        
        <a class="" *ngIf="!this.is_Token">
            Login
        </a>
        <span *ngIf="!this.is_Token">
            |
        </span>
        <a class="" *ngIf="!this.is_Token ">
            Register
        </a>
        <span *ngIf="!this.is_Token">
            |
        </span> -->
    </div>
</div>
<!-- </div> -->

<!-- <div class="row m-0 p-t-25">
    <div class="box-category d-flex justify-content-around">
        <div class="card-custom">
            <img src="./assets/img/assembling.png" class="card-img-top card-size-img " alt="...">
            <span>อุปกรณ์</span>
        </div>
        <div class="card-custom">
            <img src="./assets/img/assembling.png" class="card-img-top card-size-img " alt="...">
            <span>อุปกรณ์</span>
        </div>
        <div class="card-custom">
            <img src="./assets/img/assembling.png" class="card-img-top card-size-img " alt="...">
            <span>อุปกรณ์</span>
        </div>
    </div>

</div> -->