<div class="page-nav-wrapper" *ngIf="this.page != 'login'">
  <app-navbar-global></app-navbar-global>
</div>
<div class="page-headder-wrapper" *ngIf="this.page != 'login'">
  <app-header-global></app-header-global>
</div>
<div class="wrapper-page" *ngIf="this.page != 'login'">
  <router-outlet></router-outlet>
</div>
<div class="m-0" *ngIf="this.page == 'login'" >
  <router-outlet></router-outlet>
</div>
<!-- <div class="wrapper-page" >
  <router-outlet></router-outlet>
</div> -->


<ngx-spinner bdColor="rgba(0, 0, 0, 0.7)" size="medium" color="#A1C2F1" type="ball-fall" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>